<% include header %>
  
    <div class="col-sm-12  col-md-12 main">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Host/Server</th>
                        <th>Port</th>
                        <th>Database</th>
                        <th>DB Driver</th>
                        <th>Created Date</th>
                        <th><a href="<%= baseUrl %>/connections/new" class="btn btn-primary">Add New</a></th>
                    </tr>
                </thead>
                <tbody>
                    <% connections.forEach(function(connection) { %>
                        <tr>
                            <td><a href="<%= baseUrl %>/connections/<%= connection._id %>"><%= connection.name %></a></td>
                            <td><%= connection.host %></td>
                            <td><%= connection.port ? connection.port : '' %></td>
                            <td><%= connection.database %></td>
                            <td><%= connection.driver %></td>
                            <td><%= connection.createdDate %></td>
                            <td>
                                <form role="form" class="form-delete-connection" action="<%= baseUrl %>/connections/<%= connection._id %>" method="post">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button class="btn btn-default" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>    
                        
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<% include footer %>