<% include header %>
    
    <div class="col-sm-12  col-md-12 main">
        <form id="connection-form" role="form" class="col-md-6 col-md-offset-3" action="<%= baseUrl %>/connections/<%= connection._id || "new" %>" method="post">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Connection</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class=" control-label" for="name">Friendly Connection Name</label>  
          
          <input id="name" name="name" value="<%= connection.name || '' %>" type="text" placeholder="" class="form-control input-md">
        </div>
        
        <!-- Select Basic -->
        <div class="form-group">
          <label class=" control-label" for="driver">Database Driver</label>
          <div class="">
            <select id="driver" name="driver" class="form-control">
              <option value="mysql"     <%= (connection.driver === 'mysql' ? 'selected' : '') %> >MySQL</option>
              <option value="postgres"  <%= (connection.driver === 'postgres' ? 'selected' : '') %>>Postgres</option>
              <option value="sqlserver" <%= (connection.driver === 'sqlserver' ? 'selected' : '') %>>SQL Server</option>
              <option value="vertica"   <%= (connection.driver === 'vertica' ? 'selected' : '') %>>Vertica</option>
              <option value="crate"   <%= (connection.driver === 'crate' ? 'selected' : '') %>>Crate</option>
            </select>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class=" control-label" for="host">Host/Server/IP Address</label>  
          <div class="">
          <input id="host" name="host" value="<%= connection.host || '' %>" type="text" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class=" control-label" for="port">Port (optional)</label>
          <div class="">
          <input id="port" name="port" value="<%= connection.port || '' %>" type="text" class="form-control input-md">
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group driver-specific mysql postgres sqlserver vertica">
          <label class=" control-label" for="database">Database Name</label>  
          <div class="">
          <input id="database" name="database" value="<%= connection.database || '' %>" type="text" class="form-control input-md" required="">
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group driver-specific mysql postgres sqlserver vertica">
          <label class=" control-label" for="username">Database Username</label>  
          <input id="username" name="username" value="<%= connection.username || '' %>" type="text" class="form-control input-md" >
        </div>
        
        <!-- Password input-->
        <div class="form-group driver-specific mysql postgres sqlserver vertica">
          <label class=" control-label" for="password">Password</label>
          <input id="password" name="password" value="<%= connection.password || '' %>" type="password" class="form-control input-md">
        </div>
        
        <!-- database specific fields -->
        <div class="checkbox driver-specific sqlserver">
          <label>
            <input name="sqlserverEncrypt" <%= (connection.sqlserverEncrypt ? "checked" : "") %> type="checkbox"> Encrypt (necessary for Azure)
          </label>
        </div>
        
        <div class="checkbox driver-specific postgres">
          <label>
            <input name="postgresSsl" <%= (connection.postgresSsl ? "checked" : "") %> type="checkbox"> Use SSL
          </label>
        </div>
        
        <div class="checkbox driver-specific mysql">
          <label>
            <input name="mysqlInsecureAuth" <%= (connection.mysqlInsecureAuth ? "checked" : "") %> type="checkbox"> Use old/insecure pre 4.1 Auth System
          </label>
        </div>
        
        <% if (connection._id) { %>
            <input type="hidden" name="_method" value="put" />
        <% } %>
        
        <!-- Button (Double) -->
        <div class="form-group">
          <label class=" control-label" for="btnTest"></label>
          <div class="">
            <button id="btn-Save-connection" name="btnSave" class="btn btn-primary" type="submit">Save</button>
            <button id="btn-test-connection" name="btnTest" class="btn btn-inverse" type="submit">Test Connection</button>
            <span id="test-connection-result" class="label label-default"></span>
          </div>
        </div>
        
        </fieldset>
        </form>
    </div>
    
    
    
<% include footer %>
