
    <script>
      window.configItems = <%- configItemsJSONString %>;
      var baseUrl = <%- JSON.stringify(baseUrl) %>;
    </script>
    <script src="<%= baseUrl %>/javascripts/vendor/underscore-min.js"></script>
    <script src="<%= baseUrl %>/javascripts/vendor/d3.min.js"></script>
    <script src="<%= baseUrl %>/javascripts/vendor/tauCharts/tauCharts.min.js"></script>
    <!-- then finally the browserified/bundled js -->
    <script src="<%= baseUrl %>/javascripts/browserified.js"></script>
  </body>
</html>
