<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title><%= title %></title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
	
	<!-- slick grid stuff -->
    <link rel="stylesheet" href="/javascripts/vendor/slickgrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/javascripts/vendor/slickgrid/slick-default-theme.css" type="text/css"/>
	
	<!-- nvd3 stuff -->
    <link rel="stylesheet" href="/javascripts/vendor/nv.d3.min.css" type="text/css"/>
    
    <!-- jQuery Splitter -->
    <link rel="stylesheet" href="/javascripts/vendor/jquery.splitter/jquery.splitter.css" type="text/css"/>
    
	
	<!-- my css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
	
  </head>

  <body>
    
    <% if (session && session.userId) { %>
      <!-- Static navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                       <li><a href="/queries?createdBy=<%= encodeURIComponent(session.email) %>">My Queries</a></li>
                       <li><a href="/queries">All Queries</a></li>
                       <li class="divider"></li>
                       <li><a href="/queries/new">New Query</a></li>
                       <% if (session && session.admin) { %>
                       <li class="divider"></li>
                       <li class="dropdown-header">Admin Stuff</li>
                       <li><a href="/connections">Connections</a></li>
                       <li><a href="/users">Users</a></li>
                       <% } %>
                     </ul>                       
                </li>
              </ul>
              
              <span class="navbar-brand page-title" id="header-query-name">
                <% if (query && query.name) { %> 
                    <%= query.name %>
                <% } else if (pageTitle) { %> 
                    <%= pageTitle %> 
                <% } %>
              </span>
              
              <div class="navbar-form navbar-left">
                  <span id="btn-save-result" class="label label-info"></span>
              </div>
              
              <ul class="nav navbar-nav navbar-right">
                <% if (session && session.userId && session.email) { %>
                  <li><a href="/signout"><%= session.email.split('@')[0] %> (signout)</a></li>
                <% } else { %>
                  <li><a href="/signin">Sign In</a></li>
                  <li><a href="/signup">Sign Up</a></li>
                <% } %>
              </ul>
            </div><!--/.nav-collapse -->
            
          </div><!--/.container-fluid -->
        </div>
    <% } %>
    
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <% if (debug) { %>
                <pre><%= JSON.stringify(debug, null, 2) %></pre>
            <% } %>
        </div>
    </div>
    <div class="row">
            
      