<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= baseUrl %>/images/favicon.ico">
    <title><%= title %></title>
	  <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/fixed-data-table.css">
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/react-select.css">
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/s-alert-default.css">
    <link rel="stylesheet" href="<%= baseUrl %>/javascripts/vendor/tauCharts/tauCharts.min.css" type="text/css"/>
    <link rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/style.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.configItems = <%- configItemsJSONString %>;
    </script>
    <script src="<%= baseUrl %>/javascripts/vendor/underscore-min.js"></script>
    <script src="<%= baseUrl %>/javascripts/vendor/d3.min.js"></script>
    <script src="<%= baseUrl %>/javascripts/vendor/tauCharts/tauCharts.min.js"></script>
    <!-- then finally the browserified/bundled js -->
    <script src="<%= baseUrl %>/javascripts/browserified.js"></script>
  </body>
</html>
