
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Tags</th>
                            <th>connection</th>
                            <th>Created By</th>
                            <!--<th>Accessed</th>-->
                            <th>Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i<queries.length; i++) {
                            var query = queries[i];
                        %>
                            <tr>
                                <td><a href="<%= baseUrl %>/queries/<%= query._id %>"><%= query.name %></a></td>
                                <td>
                                    <% for (var t = 0; t < query.tags.length; t++) { %>
                                        <a class="tag label label-info" href="<%= baseUrl %>/queries?tag=<%= query.tags[t] %>"><%= query.tags[t] %></a>
                                    <% } %>    
                                </td>
                                <td>
                                    <% if (connectionsById[query.connectionId]) { %> 
                                        <%= connectionsById[query.connectionId].name %> 
                                    <% } %>
                                </td>
                                <td><%= (query.createdBy && query.createdBy == user.email ? "Me" : (query.createdBy || "")) %></td>
                                <!--<td><%= query.lastAccessedFromNow || "" %></td>-->
                                <td><%= query.modifiedCalendar %></td>
                                <td>
                                    <form role="form" class="form-delete-query" action="<%= baseUrl %>/queries/<%= query._id %>" method="post">
                                        <input type="hidden" name="_method" value="delete" />
                                        <button class="btn btn-default btn-sm" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>    
                            
                        <% } %>
                    </tbody>
                </table>
            </div>
