<% include header %>
    
   
    
    <div id="panel-main">
        
        <div id="panel-db-infoz">
            
            <div class="schema-info">
                <ul>
                    <li class="sidebar-header">Navigation</li>
                    <li><a href="/queries">Queries</a></li>
                    <% if (session && session.admin) { %>
                    <li><a href="/connections">Connections</a></li>
                    <li><a href="/users">Users</a></li>
                    <% } %>
                </ul>
                
                <ul>
                    <li class="sidebar-header">Actions</li>
                    <li><a href="#">New Query</a></li>
                    <li><a href="#">Save</a></li>
                    <li><a href="#">Clone</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#query-details-modal">Edit Query Details</a></li>
                </ul>
                
                <ul>
                    <li class="sidebar-header">Query Name</li>
                    <li contenteditable="true"><%= query.name || '' %></li>
                    <li class="sidebar-header">Tags</li>
                    <li contenteditable="true"><%= query.tags || '' %></li>
                    <li class="sidebar-header">Connection</li>
                    <li>
                        <% if (navbarConnections && navbarConnections.length) { %>
                        <div class="form-group">
                            <select id="connection" name="connection" class="form-control input-sm">
                                <option value="">Choose a Connection...</option>
                                <% navbarConnections.forEach(function(connection) { %>
                                    <option value="<%= connection._id %>" <%=( connection._id===query.connectionId ? 'selected' : '') %>>
                                        <%= connection.name %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                        <% } %>
                    </li>
                    <li><button class="btn btn-default btn-sm">Run Query</button></li>
                </ul>
            </div>
            <hr>
            
            <div id="panel-db-info">
                
            </div>
        </div>
        
        <div id="panel-editor-viz-results">
            <div id="editor-viz-panels">
                
                <div class="panel-editor">
                    <div id="ace-editor"><%- query.queryText || "" %></div>
                </div>
                
                <div class="panel-viz">
                    
                </div>
                
            </div>
            
            <div id="panel-result">
                <div id="panel-result-header">
                    <span class="panel-result-header-label">Client Run Time: </span>
                    <span class="panel-result-header-value" id="client-run-time"></span>
                    <span class="panel-result-header-label">Server Run Time: </span>
                    <span class="panel-result-header-value" id="server-run-time"></span>
                    <span class="panel-result-header-label">Rows: </span>
                    <span class="panel-result-header-value" id="rowcount"></span>
                    <span class="panel-result-header-label">Download: </span>
                    <a href="#">.xlsx</a> <a href="#">.csv</a>
                </div>
                <div id="result-slick-grid"></div>
                <div id="btn-run-result"></div>
            </div>
            
        </div>
        
    </div>
    
    
    
    
    <!-- Modal -->
    <div class="modal fade" id="query-details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Query Details</h4>
          </div>
          <div class="modal-body">
            <form id="query-form">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="name">Query Name</label>
                        <input id="name" name="name" value="<%= query.name || '' %>" type="text" placeholder="Name" class="form-control input-md">
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="tags">Tags</label>
                        <input id="tags" name="tags" value="<%= query.tags || '' %>" type="text" placeholder="Tags" class="form-control input-md">
                    </div>
                    
                    <% if (query._id) { %>
                        <input type="hidden" name="_method" value="put" />
                    <% } %>
                    <input type="hidden" id="query-id" name="query-id" value="<%= query._id || 'new' %>" />
                    
                    <!-- Button (Double) -->
                    <div class="form-group">
                        
                        
                    </div>
                    
                </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="btn-save" class="btn btn-default">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- /.panel-tabs -->
    <% include footer %>