<% include header %>
    
    <div id="panel-main">
        
        <div class="sidebar">
            <div class="query-form">
                <form id="query-form">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="name">Query Name</label>
                            <br>
                            <input id="name" name="name" class="input-small" value="<%= query.name || '' %>" type="text" placeholder="Name" class="form-control input-md">
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="tags">Tags</label>
                            <br>
                            <input id="tags" name="tags" class="input-small" value="<%= query.tags || '' %>" type="text" placeholder="Tags" class="form-control input-md">
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="connection">Connection</label>
                            <br>
                            <select id="connection" name="connection" class="input-small">
                                <option value="">Choose a Connection...</option>
                                <% navbarConnections.forEach(function(connection) { %>
                                    <option value="<%= connection._id %>" <%=( connection._id===query.connectionId ? 'selected' : '') %>>
                                        <%= connection.name %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                        
                        <input type="hidden" id="cache-key" value="<%= cacheKey %>" />
                        
                        <% if (query._id) { %>
                            <input type="hidden" name="_method" value="put" />
                        <% } %>
                        <input type="hidden" id="query-id" name="query-id" value="<%= query._id || 'new' %>" />
                        
                        <!-- Button (Double) -->
                        <div class="form-group">
                            <button type="button" id="btn-save" class="btn btn-default">Save</button>
                            <button id="btn-run-query" class="btn btn-default btn-small">Run Query</button>
                        </div>
                        
                        <a href="/queries/clone/<%= query._id %>">Clone</a>
                        
                    </fieldset>
                </form>
                <hr>
            </div>
            <div id="panel-db-info">
                
            </div>
        </div>
        
        
        <div id="panel-editor-viz-results">
            <div id="editor-viz-panels">
                
                <div class="panel-editor">
                    <div id="ace-editor"><%- query.queryText || "" %></div>
                </div>
                
                <div class="panel-viz">
                    
                </div>
                
            </div>
            
            <div id="panel-result">
                <div id="panel-result-header">
                    <span class="panel-result-header-label">Client Run Time: </span>
                    <span class="panel-result-header-value" id="client-run-time"></span>
                    <span class="hide-while-running" style="display: none">
                        <span class="panel-result-header-label">Server Run Time: </span>
                        <span class="panel-result-header-value" id="server-run-time"></span>
                        <span class="panel-result-header-label">Rows: </span>
                        <span class="panel-result-header-value" id="rowcount"></span>
                        <span class="panel-result-header-label">Download: </span>
                        <!--<a href="#">.xlsx</a> -->
                        <a id="csv-download-link" href="/download-results/<%= cacheKey %>.csv">.csv</a>
                    </span>
                    
                </div>
                <div id="result-slick-grid"></div>
                <div id="run-result-notification"></div>
            </div>
            
        </div>
        
    </div>
    
    
    <!-- /.panel-tabs -->
    <% include footer %>