<% include header %>
<span class="hide" format="<%= format %>"></span>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav nav-pills navbar-left query-editor-nav-pills" role="tablist">
            <li class="active">
                <a role="tab" data-toggle="tab" href="#tab-content-sql">
                    <span class="glyphicon glyphicon-align-left"></span> SQL
                </a>
            </li>
            <li>
                <a role="tab" data-toggle="tab" href="#tab-content-visualize">
                    <span class="glyphicon glyphicon-stats"></span> Vis
                </a>
            </li>
        </ul>
        <form class="navbar-form navbar-left navbar-left-border">
            <button type="button" id="btn-save" class="btn btn-default">
                <span class="shortcut-letter">S</span>ave
            </button>
            <div class="form-group" style="margin-left: 20px;">
                <input id="header-query-name" name="header-query-name" class="input-query-name form-control"
                       value="<%= query.name %>" type="text" placeholder="Query Name">
            </div>
            <div class="form-group" style="margin-left: 20px;">
                <label class="control-label" for="tags">Tags</label>
            </div>
            <div class="form-group">
                <input id="tags" name="tags" class="form-control" data-role="tagsinput"
                    value="<%= query.tags || '' %>" type="text" placeholder="">
            </div>
            <input type="hidden" id="cache-key" value="<%= cacheKey %>"/>
            <input type="hidden" id="query-id" name="query-id" value="<%= query._id || 'new' %>"/>
            <span id="btn-save-result" class="label label-info"></span>
        </form>
    </div>
</nav>
<div id="panel-main">
    <div class="tab-content">

        <!-- BEGIN QUERY SQL PANE -->
        <div class="tab-pane active" id="tab-content-sql">
            <div class="sidebar">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="connection">Connection</label>
                        <br>
                        <select id="connection" name="connection" class="input-small">
                            <option value="">Choose a Connection...</option>
                            <% navbarConnections.forEach(function(connection) { %>
                                <% if (navbarConnections.length == 1) { %>
                                    <option value="<%= connection._id %>" <%="selected"%> >
                                        <%= connection.name %>
                                    </option>
                                <%} else { %>
                                    <option value="<%= connection._id %>" <%= ( connection._id === query.connectionId ? 'selected' : '') %> >
                                        <%= connection.name %>
                                    </option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <button id="btn-run-query" class="btn btn-primary btn-sm btn-block">
                        <span class="shortcut-letter">R</span>un Query
                    </button>
                    <button id="btn-link-to-table" class="btn btn-default btn-sm btn-block" >
                        <span class="glyphicon glyphicon-link"></span>
                        Link To Table
                    </button>
                    <br>
                    <label class="control-label">Auto-Refresh</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="padding:2px 10px;">
                        <input id="enable-auto-refresh" type="checkbox">
                      </span>
                      <input id="auto-refresh-seconds" type="text" class="form-control input-small" placeholder="number of seconds" style="height: 24px; font-size: 11px;">
                    </div><!-- /input-group -->
                </form>
                
                
                
                
                <hr>
                <div id="panel-db-info-container">
                    <button id="btn-reload-schema" class="btn btn-default btn-sm" style="display: none;">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <div id="panel-db-info"></div>
                </div>
            </div>
            <div class="tab-pane-main">
                <div class="panel-editor">
                    <div id="ace-editor"><%- query.queryText || "" %></div>
                </div>
                <div id="panel-result">
                    <div id="panel-result-header">
                        <span class="hide-while-running" style="display: none">
                            <span class="panel-result-header-label">Query Run Time: </span>
                            <span class="panel-result-header-value" id="server-run-time"></span>
                            <span class="panel-result-header-label">Rows: </span>
                            <span class="panel-result-header-value" id="rowcount"></span>
                            <% if (allowDownload === true) { %>
                                <span class="panel-result-header-label">Download: </span>
                                <a id="csv-download-link" class="result-download-link" href="<%= baseUrl %>/download-results/<%= cacheKey %>.csv">.csv</a>
                                <a id="xlsx-download-link" class="result-download-link" href="<%= baseUrl %>/download-results/<%= cacheKey %>.xlsx">.xlsx</a>
                            <% } %>
                            <span class="panel-result-header-label incomplete-notification hidden">Incomplete Data (hit record limit)</span>
                        </span>
                    </div>
                    <div id="result-slick-grid"></div>
                    <div id="run-result-notification"></div>
                </div>
            </div>
        </div>

        <!-- BEGIN Visualize PANE -->
        <div class="tab-pane" id="tab-content-visualize">
            <div class="sidebar">
                <div id="chart-setup">
                    <div class="form-group">
                        <label class="control-label">Chart Type</label>
                        <select id="chart-type-dropdown">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div id="chart-setup-ui"></div>
                <div>
                    <button id="btn-visualize" class="btn btn-primary btn-sm btn-block">Visualize</button>
                    <button id="btn-save-image" class="btn btn-default btn-sm btn-block">
                        <span class="glyphicon glyphicon-save"></span>
                        Save Chart Image
                    </button>
                    <button id="btn-link-to-chart" class="btn btn-default btn-sm btn-block" >
                        <span class="glyphicon glyphicon-link"></span>
                        Link To Chart
                    </button>
                </div>
            </div>
            <div class="tab-pane-main">
                <div id="chart" style="height: 100%">
                    <svg style="height: 100%"></svg>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- /.panel-tabs -->
<% include footer %>