<% include header %>

        <div class="col-sm-12  col-md-12 main">

            <form id="query-filter-form">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="search">Search (Name, Query)</label>
                                <input id="query-filter-search" name="search" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="tag">Tag</label>
                                <select id="query-filter-tag" name="tag" class="form-control">
                                    <option value="">All</option>
                                    <% tags.forEach(function(tag) { %>
                                        <option value="<%= tag %>" <%=( filter && filter.tags && filter.tags===tag ? 'selected' : '') %>>
                                            <%= tag %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="connection">Connection</label>
                                <select id="query-filter-connection" name="connection" class="form-control">
                                    <option value="">All</option>
                                    <% connections.forEach(function(connection) { %>
                                        <option value="<%= connection._id %>" <%=( filter && filter.connectionId && filter.connectionId===connection._id ? 'selected' : '') %>>
                                            <%= connection.name || "" %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="createdBy">Created By</label>
                                <select id="query-filter-created-by" name="createdBy" class="form-control">
                                    <option value="">Everyone</option>
                                    <% createdBys.forEach(function(createdBy) { %>
                                        <option value="<%= createdBy %>" <%=( filter && filter.createdBy && filter.createdBy===createdBy ? 'selected' : '') %>>
                                            <%= (createdBy && createdBy == user.email ? "Me" : (createdBy || "")) %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="sortBy">Sort By</label>
                                <select id="query-filter-sort-by" name="sortBy" class="form-control">
                                    <!--<option value="accessed">Accessed</option>-->
                                    <option value="modified" selected>Modified</option>
                                    <option value="name">Name</option>
                                </select>
                            </div>
                        </div>
                        
                        <input type="hidden" name="format" value="table-only"/>
                    </div>
                </fieldset>
            </form>
            
            <div id="queries-table">
                <% include queries-table %>
            </div>
            
        </div>
    
<% include footer %>