<% include header %>
  	
  	<div class="signin">
  	    <form class="form-signin" role="form" action="<%= baseUrl %>/signup" method="post">
              <h2>SqlPad</h2>
              <% if (message) { %>
                  <h3><%= message %></h3>
              <% } %>
              <% if (openAdminRegistration) { %>
                  <h4>Admin Registration is Open</h4>
                  <p>
                      Welcome to SqlPad! 
                      Since there are no admins currently in the system, 
                      registration is open to anyone. By signing up, you will 
                      be granted admin rights, and the system will be locked down.
                      Only people explicitly invited & whitelisted will be able to join.
                  </p>
                  <br>
              <% } %>
              <input
                  name="email"
                  value="<%= email %>"
                  type="email"
                  class="form-control top-field"
                  placeholder="Email address"
                  required
                  autofocus>
              <input
                  name="password"
                  value="<%= password %>"
                  type="password"
                  class="form-control middle-field"
                  placeholder="Password"
                  required>
              <input
                  name="passwordConfirmation"
                  value="<%= passwordConfirmation %>"
                  type="password"
                  class="form-control bottom-field"
                  placeholder="Confirm Password"
                  required>
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          </form>
  	</div>

<% include footer %>